body {
  background-color: rgb(34, 34, 34);
}

#card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards per row */
  gap: 20px; /* Adjust the gap between cards */
  cursor: pointer;
  border-radius: 10px;
}

.card {
  background: rgb( 0, 0, 255);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-image {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.content-wrapper, h2, p {
  text-align: center;
  color: #fff;
}

.content-wrapper, h2 {
  color: rgb(0, 255, 0);
}

  /* Option 1:
Background: Midnight Blue (RGB: 25, 25, 112)
Accent: Glowing Green (RGB: 0, 255, 0)
Interactive Elements: Electric Blue (RGB: 0, 0, 255)

Option Two:
Background: Charcoal Black (RGB: 34, 34, 34)
Accent: Blood Red (RGB: 139, 0, 0)
Interactive Elements: Dark Violet (RGB: 148, 0, 211) */