:root {
    --title-font: 'Creepster', cursive;
  }

.dialogue {
    text-align: center;
    width: 90%;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding:50px;
    border: 1px solid black;
    font-size: 20px;
    font-family: var(--title-font, cursive);
    border-radius: 20px;
    display: flex;
    margin:20px;
    background-color: rgb(25, 25, 112);
    color: white;
}
